*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
	list-style-type: none;
}

html{
	scroll-behavior: smooth;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

